<h1> 新增行程 </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "標題" %>
<%= f.input :description, :label => "說明" %>
<%= f.input :wage_lower_bound, :label => "隊伍人數" %>
<%= f.input :wage_upper_bound, :label => "隊伍天數" %>
<%= f.input :contact_email, :label => "連絡信箱"  %>
<%= f.input :is_hidden, :label => "勾選隱藏"   %>

  <%= f.submit "送出"%>
<% end %>
